.Symbol-search {
    display: flex;
    flex-direction: column;
}
.Symbol-form {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
}
.Symbol-label {
    margin-right: 10px;
}
.Symbol-input {
    width: 230px;
}
.Symbol-button {
    background-color: transparent;
    border: none;
}
.Symbol-form2 {
    margin: 0 auto;
    margin-left: 50px;
    margin-right: 50px;
}
.Symbol-drop {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}