body {
    font: arial;
}
.Data-section {
    display: flex;
}
.KeyData-Graph {
    display: flex;
    flex-direction: row;
}
.KeyData {
    flex-direction: row;
}
.Graph {
    margin-top: 100px;
    margin-right: 40px;
}
@media screen and (max-width: 800px) {
    .KeyData-Graph {
        flex-direction: column;
        width: 100%;
    }
    .KeyData {
        margin: 0 auto;
    }
}