body {
    font: arial;
}
.Data-section {
    display: flex;
}
.KeyData-Graph {
    display: flex;
    flex-direction: row;
}
.KeyData {
    flex-direction: row;
}
.Graph {
    margin-top: 100px;
    margin-right: 40px;
}