.News-feed {
    margin-left: 50px;
    /* margin-right: 50px; */
}
.Article-section {
    display: flex;
}
.Container {
    margin-left: 50px;
    margin-right: 50px;
    border: 2px solid black;
    margin-bottom: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}
.Article-content {
    margin-left: 10px;
    margin-right: 10px;
}
a:link{
    color: black;
}
a:hover{
    font-weight: bold;
}
a:visited{
    color: black;
}
#Font {
    font-weight: bold;
}

@media only screen and (max-width: 400px) {
    .Container {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}