.Article-section {
    display: flex;
}
.News-feed {
    margin-left: 50px;
    /* margin-right: 50px; */
}
.Article-section {
    display: flex;
    flex-direction: row;
}
.Container {
  margin-left: 50px;
  margin-right: 50px;
  border: 2px solid black;
}

.Article-title {
    /* margin-left: 50px; */
}