.News-feed {
    margin-left: 50px;
    font-family: 'Archivo Black', sans-serif;
}
.Container {
    margin-left: 50px;
    margin-right: 50px;
    border: 2px solid rgb(0, 144, 186);
    border-radius: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    box-shadow: 7px 7px rgb(0, 144, 186);
    transition: all .4s ease-in-out; 
}
.Container:hover { 
    transform: scale(1.0, 1.1); 
}
.Article-content {
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}
a:link{
    color: black;
    text-decoration: none;
}
a:hover{
    font-weight: bold;
}
a:visited{
    color: black;
}
#Font {
    font-weight: bold;
}

@media only screen and (max-width: 400px) {
    .Container {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}