.KeyData-section {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(0, 144, 186);
    border-radius: 10px;
    margin-left: 50px;
}
.KeyData-title {
    margin: 0 auto;
    margin-left: 10px;
    /* font-family: 'Candal', sans-serif; */

}
#Key-data {
    margin-left: 10px;
    margin-right: 10px;

}
.KeyData-description {
    border: 2px solid rgb(0, 144, 186);
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}
.Description-text {
    margin-left: 10px;
}
.Sector-industry {
    margin-right: 100px;
}
.Price-Volume {
    margin-left: 0px;
}
.ID {
    font-weight: bold;
}