.KeyData-section {
    border: 2px solid green;
    display: flex;
    flex-direction: column;
}
.KeyData-title {
    border: 2px solid blue;
    margin: 0 auto;

}
#Key-data {
    border: 2px solid purple;
    margin: 0 auto;
    display: flex;
    flex-direction: row;

}
.Sector-industry {
    margin-right: 100px;
}
.Price-volume {
    margin-right: 100px;
}