.KeyData-section {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
}
.KeyData-title {
    /* border: 2px solid blue; */
    margin: 0 auto;
    margin-left: 50px;

}
#Key-data {
    /* border: 2px solid purple; */
    /* margin: 0 auto; */
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;

}
.KeyData-description {
    /* border: 2px solid red; */
    margin-left: 50px;
    margin-right: 50px;
}
.Sector-industry {
    margin-right: 100px;
}
.Price-Volume {
    /* margin-right: 100px; */
    margin-left: 100px;
    /* color: blue; */
}
.ID {
    font-weight: bold;
}