.Nav-div {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background-color: #2e2e2e;
}
.Nav-title {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font: inherit;
    color: white;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Candal', sans-serif;
}